<a href="https://colab.research.google.com/github/Psousace/Fundos_Imobiliarios/blob/main/Coletando_dados_de_FII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Analizando Fundos Imobiliarios
##Referencias
>Codigo Inicial:edmilson.torres@gmail.com

>Adições ao codigo: Stack

>Video Stack: https://www.youtube.com/watch?v=hsivPUfjjTU&t=822s

In [ ]:
import requests
import pandas as pd
import numpy as np

## 1. Definindo cabeçalho da requisição

In [ ]:
headers = {
    'authority': 'www.fundsexplorer.com.br',
    'accept': 'application/json, text/plain, */*',
    'accept-language': 'pt-BR,pt;q=0.5',
    'referer': 'https://www.fundsexplorer.com.br/ranking',
    'sec-ch-ua': '"Not/A)Brand";v="99", "Brave";v="115", "Chromium";v="115"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36',
    'x-funds-nonce': '61495f60b533cc40ad822e054998a3190ea9bca0d94791a1da',
}

response = requests.get('https://www.fundsexplorer.com.br/wp-json/funds/v1/get-ranking', headers=headers)

In [ ]:
df = pd.read_json(response.json())
df

In [ ]:
df.info()

In [ ]:
df.describe()

,post_id,dividendo,yeld,media_yield_3m,soma_yield_3m,media_yield_6m,soma_yield_6m,media_yield_12m,soma_yield_12m,variacao_cotacao_mes,...,yield_vpa_6m_sum,yield_vpa_6m,yield_vpa_12m_sum,yield_vpa_12m,valor,patrimonio,pvp,p_vpa,v_fisica,v_financeira
count,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,...,390.000000,390.000000,390.000000,390.000000,390.000000,3.900000e+02,390.000000,390.000000,390.0,390.0
mean,401.246154,13.234856,0.922611,1.011545,2.666507,1.158766,5.959727,1.084927,10.634808,0.058090,...,2.677102,0.508996,0.438967,0.115562,614.741256,4.464621e+08,7.311293,0.648726,0.0,0.0
std,480.191394,140.441915,3.301849,3.480096,5.406363,3.766013,12.800142,3.404950,15.877507,6.065143,...,2.940723,0.617571,2.051411,0.493958,6210.844216,7.936819e+08,103.505381,0.482975,0.0,0.0
min,47.000000,0.000700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-51.196800,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.454803e+07,0.000000,0.000000,0.0,0.0
25%,172.250000,0.452725,0.270000,0.406700,1.212500,0.460850,2.615000,0.521250,5.277500,-0.273375,...,0.000000,0.000000,0.000000,0.000000,36.640000,6.243185e+07,0.622475,0.000000,0.0,0.0
50%,292.500000,0.775000,0.780000,0.835000,2.485000,0.878300,5.230000,0.879600,10.280000,0.000000,...,2.549400,0.467200,0.000000,0.000000,87.560000,1.715496e+08,0.911850,0.848048,0.0,0.0
75%,405.500000,1.200000,1.017500,1.095850,3.277500,1.134175,6.750000,1.084575,12.627500,1.785375,...,4.672000,0.845350,0.000000,0.000000,103.885000,4.318741e+08,0.988900,0.983935,0.0,0.0
max,2614.000000,2002.089700,62.870000,62.870000,82.610000,62.870000,142.240000,62.870000,189.830000,25.000000,...,25.548000,4.258000,15.962400,4.145000,94794.810000,7.984130e+09,1961.666700,4.808909,0.0,0.0

In [ ]:
df['setor'].unique()

In [ ]:
df.columns

## 2. Limpeza e Formatação de Dados

In [ ]:
df.isna().sum()

### Dados categóricos

In [ ]:
categorical_columns = ['ticker','setor']

In [ ]:
idx = df[df['setor'].isna()].index
df.drop(idx, inplace=True)

In [ ]:
df[categorical_columns].isna().sum()

In [ ]:
df[categorical_columns] = df[categorical_columns].astype('category')

In [ ]:
df.info()

In [ ]:
df.isna().sum()

### Dados Numéricos

In [ ]:
col_floats = list(df.iloc[:,2:].columns)

In [ ]:
## Dados nulos
df[col_floats] = df[col_floats].fillna(value=0)

In [ ]:
df[col_floats]

In [ ]:
df[col_floats].head()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.describe()

- Dados de P/VPA tem atributos infinitos e está em uma escala diferente

In [ ]:
## Check infinity values pandas
df[np.isinf(df[col_floats]).any(1)]

In [ ]:
idx = df[np.isinf(df[col_floats]).any(1)].index
df.drop(idx, inplace=True)

In [ ]:
df['P/VPA'] = df['P/VPA']/100

In [ ]:
df.describe()

### Analisando a média por setor

In [ ]:
df.columns

In [ ]:
indicadores = ['Códigodo fundo',
               'Setor',
               'DY (12M)Acumulado',
               'VacânciaFísica',
               'VacânciaFinanceira',
               'P/VPA',
               'QuantidadeAtivos',
               'Liquidez Diária']

In [ ]:
df_aux = df[indicadores]

In [ ]:
df_aux

In [ ]:
media_setor = df_aux.groupby('Setor').agg(['mean','std'])

In [ ]:
media_setor

In [ ]:
media_setor.loc['Residencial', ('DY (12M)Acumulado', 'mean')]

### Criando uma função com uma estratégia para oportunidades do mercado

In [ ]:
def oportunidade_media_setor(df, setor='Shoppings', label_setor='setor'):

    media_setor = df_aux.groupby('setor').agg(['mean','std'])

    df_setor = df[df[label_setor].isin([setor])]

    filter_ = \
            df_setor['QuantidadeAtivos'] > 5 &\
            df_setor['Liquidez Diária'] > 5000 &\
            df_setor['P/VPA'] < 1.0 &\
            df_setor['DY (12M)Acumulado'] > media_setor.loc[setor, ('DY (12M)Acumulado','mean')]

    print('média do setor Yield: {}'.format(media_setor.loc[setor, ('DY (12M)Acumulado','mean')]))
    print('média do setor p/VPA: {}'.format(media_setor.loc[setor, ('P/VPA','mean')]))
    print('média do setor Ativos: {}'.format(media_setor.loc[setor, ('QuantidadeAtivos','mean')]))

    return df_setor[filter_]

In [ ]:
list(df['setor'].unique())

In [ ]:
oportunidade = oportunidade_media_setor(df_aux, setor='Logística')
oportunidade.sort_values('DY (12M)Acumulado', ascending=False, inplace=True)
oportunidade